
.toolbar-icon-system-admin-content:active:before,
.toolbar-icon-system-admin-content.is-active:before {
  background-image: url(../../images/core/icons/ffffff/file.svg);
}

.toolbar-icon-system-admin-structure:active:before,
.toolbar-icon-system-admin-structure.is-active:before {
  background-image: url(../../images/core/icons/ffffff/orgchart.svg);
}

.toolbar-icon-system-themes-page:active:before,
.toolbar-icon-system-themes-page.is-active:before {
  background-image: url(../../images/core/icons/ffffff/paintbrush.svg);
}
.toolbar-icon-entity-user-collection:active:before,
.toolbar-icon-entity-user-collection.is-active:before {
  background-image: url(../../images/core/icons/ffffff/people.svg);
}
.toolbar-icon-system-modules-list:active:before,
.toolbar-icon-system-modules-list.is-active:before {
  background-image: url(../../images/core/icons/ffffff/puzzlepiece.svg);
}
.toolbar-icon-system-admin-config:active:before,
.toolbar-icon-system-admin-config.is-active:before {
  background-image: url(../../images/core/icons/ffffff/wrench.svg);
}
.toolbar-icon-system-admin-reports:active:before,
.toolbar-icon-system-admin-reports.is-active:before {
  background-image: url(../../images/core/icons/ffffff/barchart.svg);
}
.toolbar-icon-help-main:active:before,
.toolbar-icon-help-main.is-active:before {
  background-image: url(../../images/core/icons/ffffff/questionmark-disc.svg);
}

.menu-item:hover {
  .toolbar-icon-system-admin-content:before {
    background-image: url(../../images/core/icons/00b9eb/file.svg);
  }

  .toolbar-icon-system-admin-structure:before {
    background-image: url(../../images/core/icons/00b9eb/orgchart.svg);
  }
  .toolbar-icon-system-themes-page:before {
    background-image: url(../../images/core/icons/00b9eb/paintbrush.svg);
  }
  .toolbar-icon-entity-user-collection:before {
    background-image: url(../../images/core/icons/00b9eb/people.svg);
  }
  .toolbar-icon-system-modules-list:before {
    background-image: url(../../images/core/icons/00b9eb/puzzlepiece.svg);
  }
  .toolbar-icon-system-admin-config:before {
    background-image: url(../../images/core/icons/00b9eb/wrench.svg);
  }
  .toolbar-icon-system-admin-reports:before {
    background-image: url(../../images/core/icons/00b9eb/barchart.svg);
  }
  .toolbar-icon-help-main:before {
    background-image: url(../../images/core/icons/00b9eb/questionmark-disc.svg);
  }
}

